# env
.env*.local
.env

# Next.js
.next/
out/

# dependencies
node_modules/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# agent related
REFACTOR.md
client_secret_281065123694-5qnmn62nma6j9t08dmi90f60nimr7fd1.apps.googleusercontent.com.json